extends layout

block content
  h1= category.name
  p.newMeal
    a(href= category.url + '/create') Add new meal
  ul
    each meal in category_meals
      li
        a.mealName(href=meal.url) #{meal.name}
        p #{meal.description}
    else
      li No meals in this category
