extends layout

block content
  h1= title
  ul
    each category in index
      li
        a(href=category.url) #{category.name}
    else
      li No categories
  form(method='POST' action='')
    div.form-group
      label(for='name') New category: 
      input(type='text', placeholder='Category' name='name')
      button.newCat(type='submit') Create
