extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div.form-group
      label(for='name') Meal name:
      input(type='text' value=meal.name placeholder='Meal name' name='name')
      label(for='description') Description:
      input(type='text' value=meal.description placeholder='Description' name='description')
      button.btn.btn-primary(type='submit') Update

  if errors 
   ul
    for error in errors
     li!= error.msg

